<title>Admin</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/assets/css/style.css">
<style>
.loading{display: none;}
.pagination{justify-content: end;}
.error{font-size: 13px; color: red;font-style: italic;}
.form-label{font-weight: bold;}
#cke_1_contents{height: 400px !important;}
</style>