<title>Admin</title>
<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Favicon icon -->
<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
<!-- vendor css -->
<link rel="stylesheet" href="/assets/css/style.css">
<!-- add css -->
<style>
.loading{display: none;}
.pagination{justify-content: end;}
.error{font-size: 13px; color: red;font-style: italic;}
.form-label{font-weight: bold;}
</style>