<!DOCTYPE html>
<html lang="vi">
<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- Favicon icon -->
	<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
	<!-- vendor css -->
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<!-- [ auth-signin ] start -->
<div class="auth-wrapper">
	<div class="auth-content">
		<div class="card">
			<form id="loginForm">
				<div class="row align-items-center text-center">
					<div class="col-md-12">
						<div class="card-body">
							<img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
							<h4 class="mb-3 f-w-400">Đăng Nhập</h4>
							<div class="form-group mb-3">
								<label class="floating-label" for="Email">Email</label>
								<input type="email" class="form-control" id="Email" placeholder="" required>
							</div>
							<div class="form-group mb-4">
								<label class="floating-label" for="Password">Password</label>
								<input type="password" class="form-control" id="Password" placeholder="" required>
							</div>
							<!-- <div class="form-check text-start mb-4 mt-2">
								<input type="checkbox" class="form-check-input" id="customCheck1">
								<label class="form-check-label" for="customCheck1">Save credentials.</label>
							</div> -->
							<button type="submit" class="btn btn-block btn-primary mb-4">Đăng Nhập</button>
							<!-- <p class="mb-2 text-muted">Forgot password? <a href="auth-reset-password.html" class="f-w-400">Reset</a></p>
							<p class="mb-0 text-muted">Don’t have an account? <a href="auth-signup.html" class="f-w-400">Signup</a></p> -->
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- [ auth-signin ] end -->
<!-- Required Js -->
<script src="assets/js/vendor-all.min.js"></script>
<script src="assets/js/plugins/bootstrap.min.js"></script>
<script src="assets/js/ripple.js"></script>
<script src="assets/js/pcoded.min.js"></script>
<script>
$(document).ready(function(){
	$('#loginForm').on('submit', function(e){
		e.preventDefault();
		const email = $('#Email').val()
		const password = $('#Password').val()
		$.ajax({
			url: '/login/proccess',
			type: 'POST',
			data: {email, password},
			success: function(results){
				console.log(results);
			}
		})
		return false
	})
})
</script>
</body></html>