<nav class="pcoded-navbar menu-light ">
    <div class="navbar-wrapper  ">
        <div class="navbar-content scroll-div ">
            <div class="">
                <div class="main-menu-header">
                    <img class="img-radius" src="<%-(user['avatar'])?'/uploads/user/'+user['avatar']:'/assets/images/photrader.jpeg'%>">
                    <div class="user-details">
                        <div id="more-details"><%-user['email']%></div>
                    </div>
                </div>
            </div>
            <%-aside%>
        </div>
    </div>
</nav>